* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: 'Poppins', sans-serif;
}

button {
    font-family: 'Poppins', sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/*Clases utilitarias*/
.flex {
    display: flex;
}

.align-items-center {
    align-items: center;
}

header {
    background-color: black;
    padding: 20px;
    height: 65px;
}

.nav {
    justify-content: space-between;
}

.logo {
    margin-right: 20px;
    color: white;
    font-size: 20px;
}

.menu__expanded {
    display: none;
    position: absolute;
    background-color: rgb(243, 243, 243);
    padding: 10px 20px;
    left: 0;
    top: 45px;
}

.menu__item {
    margin: 0 20px;
    padding: 5px 10px;
    position: relative;
}

.menu__item:hover {
    background-color: rgb(73, 73, 73);
    padding: 5px 10px;
    border-radius: 20px;
}

.menu__item a {
    color: white;
}

.menu__item button {
    background-color: transparent;
    border: none;
    color: white;
}

.menu__item button,
.menu__item a {
    font-size: .8em;
}

.menu__item:hover > .menu__expanded {
    display: block;
}
